body {
  background-color: #B0C9E3;
    font-family: 'Lora', serif;
}
h1 {
  display: block;
  position: static;
  text-align: center;
  font-size: 4em;
  border-style: solid none;
  background-color: #5896D9;
}
legend {
  padding: 5px;
  text-align: center;
}
table, td {
    border: 2px solid black;
  }
#donutTable {
  margin: 2%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #E3E3E3;
}
#picsAndNewLoc {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
#addStore {
  font-size: 16px;
  text-align: center;
  margin-top: 2%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: #D1B179;
}
#btn {
  font-size: 16px;
}

