body {
  background-color: #E3CFB0;
}
h1 {
  display: block;
  position: static;
  text-align: center;
  font-family: 'Alegreya', serif;
  font-size: 4.5em;
  border-style: solid none;
  background-color: #FFFFEE;
}
legend {
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
table, td {
    border: 2px solid black;
    table-layout: auto;
  }
fieldset {
  text-align: left;
}
label #btn {
  font-size: 16px;
}
#donutTable {
  width: 75%;
  margin-left: 10%;
  margin-right: 15%;
  margin-top: 5%;
  background-color: #A3C9E8;
}
#addStore {
  display: inline-block;
  background-color: #A3C9E8;
  border: 2px solid black;
  margin-top: 4%;
}
